@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/utilities';

/* Your global styles */

/* Apply a margin and padding reset */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* Set a global font family */
body {
  font-family: 'Helvetica', sans-serif;
}

/* Set a default max-width and center the content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Add more global styles as needed */
